.tactics-container {
  width: 100%;
  max-width: 1000px; /* Ajustez la largeur maximale selon vos besoins */
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tactics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tactics-table th,
.tactics-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.tactics-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tactics-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit-button,
.delete-button {
  padding: 3px 6px; /* Ajustez la taille des boutons si nécessaire */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #e53935;
}
