body {
  background-color: #228b22;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: dimgray;
  padding-bottom: 8rem;
  padding-top: 8rem;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 40px;
  background-color: dimgray;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

p {
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

li {
  list-style-type: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
